
@{
    ViewBag.Title = "GetItems";
    var list = ViewBag.ListItems;
}
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="~/style/Items.css" rel="stylesheet" />

<div class="row">

    @foreach (var item in list)
    {

        var first = item.PriceDetails;
        <div style="border-radius: 10px 10px 10px 10px;" class="col-sm-8 field"><a href="@item.Url">@item.Title</a></div>

        <div class="dropdown col-sm-3">
            <button style="text-align:left; width:250px;border-radius: 10px 10px 10px 10px;" class="CostAndDate btn dropdown-toggle" type="button" data-toggle="dropdown">
                Actual price: @first[0].Price grn
            </button>
            <ul class="dropdown-menu">
                @foreach (var costAndDate in item.PriceDetails)
                {
                    <li class="liField">Prise: @costAndDate.Price Date:@costAndDate.DateTimeNow</li>
                }
            </ul>
        </div>
        <a  style="margin-bottom: 5px; border-radius: 10px 10px 10px 10px;" class="btn icon-btn btn-danger" href="javascript:DeleteProduct(@item.Id)">
            <span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger" ></span>
            Delete
        </a>
    }
</div>

<script>
    function DeleteProduct(Id) {
            window.location.href = '@Url.Action("DeleteItems", "Items")'+'?Id=' + Id;
    }
</script>
